# -----------------------------------------------
# Docker Compose (used by docker-compose.yml)
# -----------------------------------------------
DB_PORT=5432
DB_USERNAME=msp_user
DB_PASSWORD=msp_password
DB_NAME=msp_dev
REDIS_PORT=6379
